<section class="footer footerback" style="background-image:url('assets/20.png')">
	<div class="container">
		<div class="row mar-top-350">
			<div class="col-md-3 col-sm-3 col-xs-12">
				<img src="assets/6.png" class="footer-logo-height" alt="footer-logo">
			</div>
			<div class="col-md-2 col-md-offset-2 col-sm-3 text-white col-xs-12">
				<h5 class="text-white footer-headingList">SOLUTIONS</h5>
					<ul class="text-white footer-link" style="line-height: 2.5;">
						<li>
						<a href="#"><i class="fa fa-caret-right"></i>About Venturex Apps</a>
						</li>
						<li>
							<a href="#"><i class="fa fa-caret-right"></i>Features</a>
						</li>
						<li>
							<a href="#"><i class="fa fa-caret-right"></i>Services</a>
						</li>
						<li>
							<a href="#"><i class="fa fa-caret-right"></i>Testimonials</a>
						</li>
					</ul>
			 </div>
			<div class="col-md-2 col-sm-3 col-xs-12 text-white">
				<h5 class="footer-headingList">Support</h5>
					<ul class="footer-link" style="line-height: 2.5;">
						<li>
						<a href="#"><i class="fa fa-caret-right"></i>
						FAQ</a>
						</li>
						<li>
							<a href="#" ><i class="fa fa-caret-right"></i>Contact Us</a>
						</li>
						<li>
							<a href="#" ><i class="fa fa-caret-right"></i>Privacy Policy</a>
						</li>
						<li>
							<a href="#"><i class="fa fa-caret-right"></i>Term&Conditions</a>
						</li>
					</ul>
			 </div>
			<div class="col-md-3 col-xs-12 col-sm-3 text-white">
				<h5 class="footer-headingList">Stay on track!</h5>
				<p class="footer-link-para">
					Provide your email address here to be updated. We Promise not to spam.
				</p>
				<form class="example" action="" style="margin:auto;max-width:300px">
              <input type="email" required autocomplete="off" placeholder="Enter Your Email.." name="email" style="border-right: none;">
                 <button type="submit" class="fa fa-envelope">
                    <!-- <img src="img/telegram.png" style="height: 23px;" /> -->
                  </button>
            </form>
			</div>
		</div>
		<hr class="footer-hr" />
		<div class="row" style="height: 50px;">
			<div class="col-md-4 col-sm-6 col-xs-12">
				<p class="text-white">
					&reg;2019 Copyrights <span style="font-weight: bolder;">Venturex Apps</span> All right reserved|
				</p>
			</div>
			<div class="col-md-3 col-md-offset-5 col-xs-12 col-sm-4 col-sm-offset-2">
				  <a href="#" class="footerIco1"><i class="fa fa-facebook text-white"></i></a>
				  <a href="#" class="footerIco"><i class="fa fa-twitter text-white"></i></a>
				  <a href="#" class="footerIco"><i class="fa fa-linkedin text-white"></i></a>
			</div>
		</div>
	</div>
</section>
