<!--


<section class="blog">

</section>
<form #blogForm="ngForm" (ngSubmit)="addBlog()" class="form-inline">
  <div class="row">

  <div class="form-group col-md-6 mb-3">
  <label for="Title" class="sr-only">Blog Title</label>
  <input [(ngModel)]="blogModel.blogTitle" type="text" class="form-control" id="Title" name="Title" placeholder="First Name">
  </div>
  <div class="form-group col-md-12 mb-3">
  <label for="Description">Description</label>
  <textarea [(ngModel)]="blogModel.blogDescription" type="text"
   class="form-control" id="Description" name="Description" placeholder="Description">
  </textarea>
  </div>


<dropzone class="dropzone-container" [config]="config"
(error)="onUploadError($event)"
(sending)="onSending($event)"
[message]="'Click or drag Blog image here to upload'"
></dropzone>


  <button type="submit" class="btn btn-primary">Submit</button>

</div>

  </form>
 -->


 <div class="padding">
    <div class="row">
      <div class="col-sm-12">
        <div class="box">
          <div class="box-header">
            <h2>Add Category</h2>

          </div>
          <div class="box-body">

            <form #categoryForm="ngForm" (ngSubmit)="addCategory()">
              <div class="form-row">



                <div class="form-group col-md-12">
                  <label>Category Name</label>
                  <input [(ngModel)]="categoryModel.categoryName" name="categoryName" type="text" class="form-control" id="rn"
                    placeholder="platform design etc" />
                </div>
              </div>

              <div class="form-group col-md-3">
                  <label>Choose Color</label>
                  <input disabled [(ngModel)]="categoryModel.color" name="color" type="color" value="#ff0000" class="form-control" id="rn"
                    />

                    <label class="orange-color radio-div">
                        <input [(ngModel)]="categoryModel.color" name="orange" type="radio" name="color" value="#fea301">
                        <div class="layer"></div>
                        <div class="color-picker"><span id="orange-span"></span></div>
                    </label>

                    <label class="blue-color radio-div">
                        <input [(ngModel)]="categoryModel.color" name="blue"  type="radio" name="color" value="#253a60">
                        <div class="layer"></div>
                        <div class="color-picker"><span id="blue-span"></span></div>
                    </label>

               </div>


              <button type="submit" class="btn primary">Submit</button>
            </form>
          </div>
        </div>
      </div>



    <div class="col-md-12 table-responsive">
        <div class="box">
            <div class="box-body">
          <ngx-table [configuration]="configuration" [data]="categories" [columns]="columns">
            <ng-template let-row let-index="index">
              <td>{{ row.categoryName }}</td>
              <td [style.background-color]="row.color"></td>

              <td class="fit">
                <button
                  class="btn btn-outline b-danger text-danger">
                  <i class="fa fa-trash"></i>
                </button>
              </td>
            </ng-template>
          </ngx-table>
          </div>
        </div>
      </div>


    </div>
  </div>
