

.Page2-header{
  height: 300px;
}

.cardForVideos{
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
  margin: auto;
  text-align: center;
  font-family: arial;
  border-radius: 15px;
}

.cardForBlogs{
  height: 400px;
  margin-top: 3rem;
}

.cardForBlogs img {
  border-radius: 10px;
  height: 50%;
}

.blog-heading{
font-weight: bold;
text-align: left;
padding: 5px;
font-size: 18px;
}

.title-details{
  font-size: 14px;
  margin:5px;
}

.bolg-deatils{
text-align: left;
margin: 13px;
margin-top: 2rem;
color: #e0981b;
cursor: pointer;
}




#player {
  max-width: 100%;
}


:host ::ng-deep .plyr__control--overlaid {
  background: rgb(238, 173, 81);
  padding: 20px;
}
