<section class="main-LandingPageCalcultor" id="Landing-section" >
    <div class="container" style="height: 650px;">
      <div class="row mar-top-200 col-md-12">
        <div class="col-md-5 col-md-offset-1 col-sm-6 col-xs-12 mar-top-35">
                <h1 class="cover-sec-heading1 font-sec-h1-Page2">Blogs</h1>
                <p class="lead-page2 color-white">
                    We love to keep up to date in our industry.
                    <br>

                    Here we like to share news, tips and insights of

                    what is happening in the Mobile App / IT space</p>
        </div>
          <div class="col-md-5 col-md-offset-1 col-sm-6 col-xs-12">
             <img src="../../../assets/img/Page2.1.png" class="Page2-header">
          </div>
      </div>
    </div>
  </section>



  <section class="Page2-Section2" id="selectList">
      <div class="container">
        <div class="row mar-top-100">
            <div *ngFor="let blog of blogs" class="col-md-4 col-sm-6 col-xs-12">
                <div class="card cardForBlogs">
                    <img [src]="blog.blogImage" alt="{{blog.blogTitle}}" style="width:100%;">
                    <p class="blog-heading">{{blog.blogTitle}}</p>
                    <!-- <p class="title-details">{{blog.blogDescription}}</p> -->
                    <p [routerLink]="['/blog-details', blog.blogId]"
                     class="bolg-deatils">Read More>>> </p>
                </div>
              </div>

              <div class="col-md-4 col-sm-6 col-xs-12">
                  <div class="card cardForBlogs">
                      <img src="../../../assets/img/assests/layer553.png" alt="John" style="width:100%;">
                      <p class="blog-heading">Heading</p>
                        <p class="title-details">How to buy a lcd tv in 3 easy steps</p>
                        <p class="bolg-deatils">Read More>>> </p>                  </div>
                </div>

                <div class="col-md-4 col-sm-6 col-xs-12">
                    <div class="card cardForBlogs">
                        <img src="../../../assets/img/assests/layer553.png" alt="John" style="width:100%;">
                        <p class="blog-heading">Heading</p>
                        <p class="title-details">How to buy a lcd tv in 3 easy steps</p>
                        <p class="bolg-deatils">Read More>>> </p>
                    </div>
                  </div>
        </div>
