<section class="main-LandingPageCalcultor" id="Landing-section">
  <div class="container" style="height: 470px;">
    <div class="row mar-top-100 col-md-12">
      <div class="col-md-5 col-md-offset-1 col-sm-6 col-xs-12 mar-top-35">
        <h1 class="cover-sec-heading1 font-sec-h1-Page2">Blog</h1>
      </div>

      <div class="col-md-5 col-md-offset-1 col-sm-6 col-xs-12">
          <img src="../../../assets/img/Page2.1.png" class="Page2-header">
       </div>
    </div>
  </div>
</section>



<section class="Page2-Section2" id="selectList">
  <div class="container">
    <div class="row mar-top-100">


        <!-- Post Content Column -->
        <div class="col-lg-12">

          <!-- Title -->
          <h1 class="mt-4">{{blog.blogTitle}}</h1>

          <!-- Author -->
          <p class="lead">
            by
            <a href="#">Admin</a>
          </p>

          <hr>

          <!-- Date/Time -->
          <p>Posted on January 1, 2019 at 12:00 PM</p>

          <hr>

          <!-- Preview Image -->
          <img class="img-fluid" [src]="blog.blogImage" alt="">

          <hr>

        <div class="" [innerHtml]="blog.blogDescription | safeHtml"></div>


        </div>

      </div>


    </div>


</section>
