<div class="navbar-area">
  <nav class="navbar navbar-default" role="navigation">
      <div class="navbar-header">
          <a class="navbar-brand" href="index.html"><img src="../../../../assets/img/6.png" class="header-logo" /></a>
          <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
              <span class="icon-bar"></span>
              <span class="icon-bar"></span>
              <span class="icon-bar"></span>
          </button>
      </div>
      <div class="navbar-collapse collapse">
          <ul class="nav navbar-nav navbar-center">
              <li><a [routerLink]="['/']">HOME</a></li>
              <li><a [routerLink]="['/about']" >ABOUT</a></li>
              <li><a href="#">SERVICES</a></li>
              <li><a [routerLink]="['/features']">FEATURES</a></li>
              <li><a [routerLink]="['/blogs']">BLOG</a></li>
              <li><a [routerLink]="['/contact']">CONTACT</a></li>
          </ul>
          <ul class="nav navbar-nav navbar-right">
              <li>
              <button class="signup" [routerLink]="['/app-calculator']" style="white-space: nowrap;">
          <a class="nav-link"  style="color: #eeaa4f;">PROJECT COST CALCULATOR</a>
          </button>
      </li>
          </ul>
      </div>
  </nav>
  <hr class="hr-nav" />
  </div>
