<section class="main-LandingPageCalcultor" id="Landing-section" >
    <div class="container" style="height: 470px;">
      <div class="row mar-top-100 col-md-12">
        <div class="col-md-5 col-md-offset-1 col-sm-6 col-xs-12 mar-top-35">
                <h1 class="cover-sec-heading1 font-sec-h1-Page2 mar-top-100 page3-Heading">About</h1>
        </div>
        <div class="col-md-5 col-md-offset-1 col-sm-6 col-xs-12">
           <img src="../../../assets/img/ImagesForFeatures/3.1page.png" class="Page3-header">
        </div>
      </div>
    </div>
  </section>
