<section class="main-LandingPageCalcultor" id="Landing-section" >
    <div class="container" style="height: 470px;">
      <div class="row mar-top-100 col-md-12">
        <div class="col-md-5 col-md-offset-1 col-sm-6 col-xs-12 mar-top-35">
                <h1 class="cover-sec-heading1 font-sec-h1-Page2 mar-top-100 page3-Heading">FEATURES</h1>
        </div>
        <div class="col-md-5 col-md-offset-1 col-sm-6 col-xs-12">
           <img src="../../../assets/img/ImagesForFeatures/3.1page.png" class="Page3-header">
        </div>
      </div>
    </div>
  </section>
  <section class="featuresPageHeadings">
    <div class="container">
      <div class="row mar-top-200">
        <div class="col-md-2 col-md-offset-2 col-sm-3 col-sm-offset-1 col-xs-12">
          <img src="../../../assets/img/ImagesForFeatures/personality-search.png" class="page3-section2-Icon">
        </div>
        <div class="col-md-8 col-sm-8 col-xs-12">
          <div>
            <h3 class="page3-section2-Heading">
              Personalization
            </h3>
            <p class="page3-section2-Paragraph">
              Getting through to your customers in a meaningful way through personailzation is a
              great way to retain their attention and catter their needs.
            </p>
          </div>
        </div>
      </div>
      <div class="row mar-top-35">
        <div class="col-md-2 col-md-offset-2 col-sm-3 col-sm-offset-1 col-xs-12">
          <img src="../../../assets/img/ImagesForFeatures/check.png" class="page3-section2-Icon">
        </div>
        <div class="col-md-8 col-sm-8 col-xs-12">
          <div>
            <h3 class="page3-section2-Heading">
              Retail Integration
            </h3>
            <p class="page3-section2-Paragraph">
              Researching product availability, pricing, accessing coupons/discounts and scannings codes all help the consumer in his/her choice to buy.
            </p>
          </div>
        </div>
      </div>
      <div class="row mar-top-35">
        <div class="col-md-2 col-md-offset-2 col-sm-3 col-sm-offset-1 col-xs-12">
          <img src="../../../assets/img/ImagesForFeatures/phone.png" class="page3-section2-Icon">
        </div>
        <div class="col-md-8 col-sm-8 col-xs-12">
          <div>
            <h3 class="page3-section2-Heading">
              Social Media Integration
            </h3>
            <p class="page3-section2-Paragraph">
              Can improve functionality, increase downloads and usage, help pridicts trends and behavious.
            </p>
          </div>
        </div>
      </div>
      <div class="row mar-top-35">
        <div class="col-md-2 col-md-offset-2 col-sm-3 col-sm-offset-1 col-xs-12">
          <img src="../../../assets/img/ImagesForFeatures/credit-card.png" class="page3-section2-Icon">
        </div>
        <div class="col-md-8 col-sm-8 col-xs-12">
          <div>
            <h3 class="page3-section2-Heading">
              Payments
            </h3>
            <p class="page3-section2-Paragraph">
              Can be processed and operated in app, enabling fast and secure transactions within the plication, helping the buyer in his/her final step of the transaction process.
            </p>
          </div>
        </div>
      </div>
      <div class="row mar-top-35">
        <div class="col-md-2 col-md-offset-2 col-sm-3 col-sm-offset-1 col-xs-12">
          <img src="../../../assets/img/ImagesForFeatures/map.png" class="page3-section2-Icon">
        </div>
        <div class="col-md-8 col-sm-8 col-xs-12">
          <div>
            <h3 class="page3-section2-Heading">
              Geo-Mapping
            </h3>
            <p class="page3-section2-Paragraph">
              This feature is widely used nowadays as it provide valuable real time information on time, journeys, estimations to acquire products and/or services.
            </p>
          </div>
        </div>
      </div>
      <div class="row mar-top-35">
        <div class="col-md-2 col-md-offset-2 col-sm-3 col-sm-offset-1 col-xs-12">
          <img src="../../../assets/img/ImagesForFeatures/content.png" class="page3-section2-Icon">
        </div>
        <div class="col-md-8 col-sm-8 col-xs-12">
          <div>
            <h3 class="page3-section2-Heading">
              Multi Content Management
            </h3>
            <p class="page3-section2-Paragraph">
              Enable user to pass on, collect and review images, videos, audios with a swipe or two. Streaming can also be an important element of content sharing.
            </p>
          </div>
        </div>
      </div>
      <div class="row mar-top-35">
        <div class="col-md-2 col-md-offset-2 col-sm-3 col-sm-offset-1 col-xs-12">
          <img src="../../../assets/img/ImagesForFeatures/bell.png" class="page3-section2-Icon">
        </div>
        <div class="col-md-8 col-sm-8 col-xs-12">
          <div>
            <h3 class="page3-section2-Heading">
              Notifications
            </h3>
            <p class="page3-section2-Paragraph">
              They keep your customers and prospects in the loop, giving out information nuggets, updates will get them fimilar with your brand and help them move down the sales cycle (if applicable).
            </p>
          </div>
        </div>
      </div>
      <div class="row mar-top-35">
        <div class="col-md-2 col-md-offset-2 col-sm-3 col-sm-offset-1 col-xs-12">
          <img src="../../../assets/img/ImagesForFeatures/organize.png" class="page3-section2-Icon">
        </div>
        <div class="col-md-8 col-sm-8 col-xs-12">
          <div>
            <h3 class="page3-section2-Heading">
              Planning
            </h3>
            <p class="page3-section2-Paragraph">
              Calendars, scheduling, event planning all come in very handy to both users and organizers. Real time planification is a game changer in today's society enabling optimization for everyone.
            </p>
          </div>
        </div>
      </div>
    </div>
  </section>
  <section id="showcase" class="mar-top-100">
    <div class="row">
      <div class="col-md-12 col-sm-12 col-xs-12">
        <h2 class="page3-section3-Heading">
          TECHNOLOGIES
        </h2>
      </div>
    </div>
    <div class="col-md-12 col-sm-12 col-xs-12" style="padding:0px !important;background:#f5f5f5;margin-top:75px;">
      <div id="myCarousel" class="carousel slide" style="padding: 25px;height: auto;" data-ride="carousel">
          <div class="carousel-inner" style="text-align: center;">
                <div class="item carousel-item active">
                    <div class="container">
                      <div class="row">
                          <div class="col-md-2 col-sm-2 col-md-offset-1">
                              <img src="../../../assets/img/assests/1.png">
                          </div>
                          <div class="col-md-2 col-sm-2">
                              <img src="../../../assets/img/assests/4.png">
                          </div>
                          <div class="col-md-2 col-sm-2">
                              <img src="../../../assets/img/assests/5.png">
                          </div>
                          <div class="col-md-2 col-sm-2">
                              <img src="../../../assets/img/assests/7.png" style="margin-top: 8px;">
                          </div>
                          <div class="col-md-2 col-sm-2">
                              <img src="../../../assets/img/assests/9.png">
                          </div>
                        </div>
                    </div>
                </div>
                <div class="item carousel-item">
                    <div class="container">
                      <div class="row">
                          <div class="col-md-2 col-sm-2  col-md-offset-1">
                              <img src="../../../assets/img/assests/1.png">
                          </div>
                          <div class="col-md-2 col-sm-2">
                              <img src="../../../assets/img/assests/4.png">
                          </div>
                          <div class="col-md-2 col-sm-2">
                              <img src="../../../assets/img/assests/5.png">
                          </div>
                          <div class="col-md-2 col-sm-2">
                              <img src="../../../assets/img/assests/7.png" style="margin-top: 8px;">
                          </div>
                          <div class="col-md-2 col-sm-2">
                              <img src="../../../assets/img/assests/9.png">
                          </div>
                      </div>
                    </div>
                </div>
            </div>
        </div>
     </div>
  </section>
  <section class="featurePagePlatforms">
    <div class="container">
      <div class="row mar-top-325">
        <div class="col-md-4 col-sm-4 col-xs-12">
          <h3 class="page3-Section4-Heading">Android</h3>
          <div class="card">
              <ul class="mar-top-50 page3-section4-ListPad">
              <li>
                <h4><i class="fa fa-check page3-Section4-Iframe"></i>Cradle</h4>
            </li>
              <li>
                <h4><i class="fa fa-check page3-Section4-Iframe"></i>Real MDB</h4>
            </li>
              <li>
                <h4><i class="fa fa-check page3-Section4-Iframe"></i>Robelectric</h4>
            </li>
              <li>
                <h4><i class="fa fa-check page3-Section4-Iframe"></i>Eventbus</h4>
            </li>
              <li>
                <h4><i class="fa fa-check page3-Section4-Iframe"></i>Protobus</h4>
            </li>
              <li>
                <h4><i class="fa fa-check page3-Section4-Iframe"></i>ORM LITE</h4>
            </li>

              </ul>
          </div>
        </div>
        <div class="col-md-4 col-sm-4 col-xs-12">
          <h3 class="page3-Section4-Heading">IOS</h3>
          <div class="card">
              <ul class="mar-top-50 page3-section4-ListPad">
              <li>
                <h4><i class="fa fa-check page3-Section4-Iframe"></i>Reveal</h4>
            </li>
              <li>
                <h4><i class="fa fa-check page3-Section4-Iframe"></i>AF Networking</h4>
            </li>
              <li>
                <h4><i class="fa fa-check page3-Section4-Iframe"></i>Core Data</h4>
            </li>
              <li>
                <h4><i class="fa fa-check page3-Section4-Iframe"></i>Core Text</h4>
            </li>
              <li>
                <h4><i class="fa fa-check page3-Section4-Iframe"></i>Specta</h4>
            </li>
              <li>
                <h4><i class="fa fa-check page3-Section4-Iframe"></i>Cocos 2D</h4>
            </li>
              </ul>
          </div>
        </div>
        <div class="col-md-4 col-sm-4 col-xs-12">
          <h3 class="page3-Section4-Heading">BACKEND</h3>
          <div class="card">
              <ul class="mar-top-50 page3-section4-ListPad">
                <li>
                  <h4><i class="fa fa-check page3-Section4-Iframe"></i>Jenkins</h4>
              </li>
                <li>
                  <h4><i class="fa fa-check page3-Section4-Iframe"></i>Parse</h4>
              </li>
                <li>
                  <h4><i class="fa fa-check page3-Section4-Iframe"></i>Dropbox</h4>
              </li>
                <li>
                  <h4><i class="fa fa-check page3-Section4-Iframe"></i>Eventbus</h4>
              </li>
                <li>
                  <h4><i class="fa fa-check page3-Section4-Iframe"></i>Amazon S3</h4>
              </li>
                <li>
                  <h4><i class="fa fa-check page3-Section4-Iframe"></i>Mobify</h4>
              </li>
              </ul>
          </div>
        </div>
      </div>
    </div>
  </section>
