<section class="main-Landing" id="Landing-section" >
	<div class="container">
		<div class="row mar-top-80">
			<div class="col-md-12 col-sm-12 col-xs-12 text-center">
				<h2 class="color-white">Growing your business through</h2>
              <h1 class="cover-sec-heading1 font-sec-h1"><strong>SMART APPS</strong></h1>
              <p class="lead color-white">We believe customer satisfaction and good<br/> services lead to success.</p>
			</div>
			<div class="row text-center">
				<div class="col-md-3 col-md-offset-1">
					 <a href="#" class="btn-lg section1-buttons"><img src="../../../assets/img/7.png" class="section1-icons"/></a>
				</div>
				<div class="col-md-4">
					 <a href="#" class="btn-lg section1-buttons"><img src="../../../assets/img/8.png" class="section1-icons"/></a>
				</div>
				<div class="col-md-3">
					 <a href="#" class="btn-lg section1-buttons"><img src="../../../assets/img/9.png" class="section1-icons"/></a>
				</div>
			</div>
			<div class="row">
				<div class="col-md-12 col-sm-12 col-xs-12">
					 <img src="../../../assets/img/mobilepic.png" class="phone-pic">
				</div>
			</div>
		</div>
	</div>
</section>
<section class="cabbieDetail mar-top-200" id="cab-Detail">
	<div class="container-fluid">
		<div class="row">
			<div class="col-md-6 col-sm-12 col-xs-12 pad-200 mar-top-100-none">
				<div class="row">
					<div class="col-md-12 col-sm-12 col-xs-12">
						<h4 class="section2-head1">WHY VENTUREX APPS?</h4>
						<h2 class="heading-color-blue">Solutions for everyone</h2>
						<div class="vl">
							<p style="text-align: justify;margin-left: 15px;">
              Making life easier is what we're about. We dedicate teams who not only execute your vision, but also the project they work on.
              Our Selected Team members are experienced, professional and flexible experts.
							</p>
						</div>
					</div>
					<div class="col-md-12 col-xs-12 col-sm-12">
						<div class="section2-details">
							<img src="../../../assets/img/10.png"><p style="margin-top: 8px;font-weight: bolder;">Qualified Project Mangers</p>
						</div>
					</div>
					<div class="col-md-12 col-xs-12 col-sm-12">
						<div class="section2-details">
							<img src="../../../assets/img/10.png"><p style="margin-top: 8px;font-weight: bolder;">Skilled inhouse Developers</p>
						</div>
					</div>
					<div class="col-md-12 col-xs-12 col-sm-12">
						<div class="section2-details">
							<img src="../../../assets/img/10.png"><p style="margin-top: 8px;font-weight: bolder;">24h Support</p>
						</div>
					</div>
				</div>
			</div>
			<div class="col-md-5 col-md-offset-1 col-sm-12 col-xs-12" style="padding-right: 0px;">
					<img src="../../../assets/img/11.png" class="img-responsive portfolio-item">
			</div>
		</div>
	</div>
</section>
<section class="services-section mar-top-160" id="services-Details" style="background-image: url('../../../assets/img/panel.png');background-size: 100% 100%;">
	<div class="container">
		<div class="row">
			<div class="col-md-12 text-center">
				<h2 class="heading-color-blue">Services</h2>
				<p class="text-center pad-200">
          According to nature and size of project. We can deliver in variable time-frames. Get in touch for quote and payment solutions.
				</p>
			</div>
		</div>
		<div class="row">
			<div class="col-md-4 col-sm-6 col-xs-12">
			   <div class="card text-white mar-top-25">
				  <div class="card-header text-center card-header-style">NATIVE APP DESIGN</div>
				    <div class="card-body mar-top-20">
				   <img src="../../../assets/img/assests/Mobile-1.png" class="card-image-style">
				  </div>
				</div>
			</div>
			<div class="col-md-4 col-sm-6 col-xs-12">
				 <div class="card text-white mar-top-25">
				  <div class="card-header text-center card-header-style">UX/UI DESIGN</div>
				    <div class="card-body mar-top-20">
				   <img src="../../../assets/img/assests/ui-ux.png" class="card-image-style">
				  </div>
				</div>
			</div>
			<div class="col-md-4 col-sm-6 col-xs-12">
				 <div class="card text-white mar-top-25">
				  <div class="card-header text-center card-header-style">PUBLISHING</div>
				    <div class="card-body mar-top-20">
				   <img src="../../../assets/img/assests/Publishing.png" class="card-image-style">
				  </div>
				</div>
			</div>
			<div class="col-md-4 col-sm-6 col-xs-12 ">
				 <div class="card text-white mar-top-25">
				  <div class="card-header text-center card-header-style">WEB DEVELOPMENT</div>
				    <div class="card-body mar-top-20">
				   <img src="../../../assets/img/assests/Coder.png" class="card-image-style">
				  </div>
				</div>
			</div>
			<div class="col-md-4 col-sm-6 col-xs-12">
				 <div class="card text-white mar-top-25">
				  <div class="card-header text-center card-header-style">SUPPORT</div>
				    <div class="card-body mar-top-20">
				   <img src="../../../assets/img/assests/Technical.png" class="card-image-style">
				  </div>
				</div>
			</div>
			<div class="col-md-4 col-sm-6 col-xs-12">
				 <div class="card text-white mar-top-25">
				  <div class="card-header text-center card-header-style">ANALYSIS</div>
				    <div class="card-body mar-top-20">
				   <img src="../../../assets/img/assests/Analysis.png" class="card-image-style">
				  </div>
				</div>
			</div>
		</div>
	</div>
</section>
<section class="testimonial-section mar-top-160" id="testimonial-Details">
	<div class="container">
		<div class="row">
			<div class="col-md-5 col-md-offset-1 col-sm-12 col-xs-12 mar-top-160">
				<h4 class="section2-head1-2">TESTIMONIALS</h4>
				<h2 class="text-white">Who Uses Venturex Apps?</h2>
					<span class="fa fa-star checked"></span>
					<span class="fa fa-star checked"></span>
					<span class="fa fa-star checked"></span>
					<span class="fa fa-star checked"></span>
					<span class="fa fa-star" style="color: #ffffff;"></span>
					<span class="text-white">7 Days ago</span>
				<p class="text-white">
					<br/>
					Lorem ipsum dolor sit amet, consectetur adipisicing elit. Recusandae consequuntur architecto eius magni nobis nulla eaque. Deserunt sunt, distinctio quos.Lorem ipsum dolor sit amet, consectetur adipisicing elit. Recusandae consequuntur architecto eius magni nobis nulla eaque. Deserunt sunt, distinctio quos.
				</p>
				<br>
				<br>
				<h2 class="text-white">Irene McGee</h2>
				<h4 class="display-6 cover-sec-heading1">Client / Product Manager</h4>
			</div>
	        <div class="col-md-6 col-sm-12 col-xs-12">
				<div id="jssor_1" class="slider-for-testimonials">
        <!-- Loading Screen -->
        <div data-u="loading" class="jssorl-009-spin" style="position:absolute;top:0px;left:0px;width:100%;height:100%;text-align:center;background-color:rgba(0,0,0,0.7);">
            <img style="margin-top:-19px;position:relative;top:50%;width:38px;height:38px;" src="../../../assets/img/spin.svg" />
        </div>
        <div data-u="slides" style="cursor:default;position:relative;top:0px;left:0px;width:400px;height:350px;overflow:hidden;">
            <div>
                <img data-u="image" src="../../../assets/img/assests/Girl.png" />
            </div>
            <div>
                <img data-u="image" src="../../../assets/img/assests/layer553.png" />
            </div>
            <div>
                <img data-u="image" src="../../../assets/img/assests/layer555.png" />
            </div>

        </div>
        <!-- Bullet Navigator -->
    </div>
	        </div>
		</div>
	</div>
</section>
<section class="app-development" id="app-Details">
	<div class="container-fluid">
		<div class="row">
			<div class="col-md-5 hidden-xs detail-Image-Hidden" style="padding-left: 0px;">
			<img src="../../../assets/img/assests/layerforApp.png" style="height: 650px;">
			</div>
			<div class="col-md-6 col-md-offset-1 col-xs-12 col-sm-6 mar-top-200-none pad-100-none">
				<div class="row">
					<div class="col-md-12">
						<h4 class="section2-head1">APP DEVELOPMENT</h4>
				<h2 class="heading-color-blue">Learn, Grow and Monitor Your Activity.</h2>
				<div class="vl">
					<p style="text-align: justify;margin-left: 15px;">
              According to the use, budget and goals of

              your company, determining how your app

              can increase awareness, user experience

              and business is crucial. A quality App will

              engage and reward your loyal and new

              customers.
          </p>
				</div>
					</div>
					<div class="col-md-12">
						<h2 class="facts-class">
							FACTS
						</h2>
					</div>
					<div class="col-md-4 col-sm-4">
			 	 		<h2><span style="font-size: 54px;">5.5</span>M+</h2>
			 	 		<p>Apps avilable<br/> (2018)</p>
					</div>
					<div class="col-md-4 col-sm-4">
			 	 		<h2><span style="font-size: 54px;">42</span>%</h2>
			 	 		<p>Of Consumers<br/>Use Shopping<br/>
			 	 			Apps<br/>(2018)</p>
					</div>
					<div class="col-md-4 col-sm-4">
			 	 		<h2><span style="font-size: 54px;">200</span>Bin</h2>
			 	 		<p>App Download<br/>(2018)</p>
					</div>
				</div>
			</div>
		</div>
	</div>
</section>
<section id="showcase" style="padding:0px !important;background:#f5f5f5;margin-top:75px;">
    <div id="myCarousel" class="carousel slide" style="margin: 0px 0px 50px 0px;padding: 25px;height: auto;" data-ride="carousel">
        <div class="carousel-inner" style="text-align: center;">
            <div class="item carousel-item active">
                <div class="container">
                	<div class="row">
	                    <div class="col-md-2 col-sm-2 col-md-offset-1">
	                        <img src="../../../assets/img/assests/1.png">
	                    </div>
	                    <div class="col-md-2 col-sm-2">
	                        <img src="../../../assets/img/assests/4.png">
	                    </div>
	                    <div class="col-md-2 col-sm-2">
	                        <img src="../../../assets/img/assests/5.png">
	                    </div>
	                    <div class="col-md-2 col-sm-2">
	                        <img src="../../../assets/img/assests/7.png" style="margin-top: 8px;">
	                    </div>
	                    <div class="col-md-2 col-sm-2">
	                        <img src="../../../assets/img/assests/9.png">
	                    </div>
                    </div>
                </div>
            </div>
            <div class="item carousel-item">
                <div class="container">
                	<div class="row">
	                    <div class="col-md-2 col-sm-2  col-md-offset-1">
	                        <img src="../../../assets/img/assests/1.png">
	                    </div>
	                    <div class="col-md-2 col-sm-2">
	                        <img src="../../../assets/img/assests/4.png">
	                    </div>
	                    <div class="col-md-2 col-sm-2">
	                        <img src="../../../assets/img/assests/5.png">
	                    </div>
	                    <div class="col-md-2 col-sm-2">
	                        <img src="../../../assets/img/assests/7.png" style="margin-top: 8px;">
	                    </div>
	                    <div class="col-md-2 col-sm-2">
	                        <img src="../../../assets/img/assests/9.png">
	                    </div>
                	</div>
                </div>
            </div>
        </div>
    </div>
</section>
<section class="app-Question">
	<div class="container">
		<div class="row">
			<div class="col-md-12 col-xs-12 col-sm-12">
				<h4 class="section2-head1-3" style="text-align: center;">QUESTIONS & ANSWERS</h4>
			<h4 class="heading-color-blue" style="text-align: center;">Frequently asked questions</h4>
			<p class="section6-para1" style="text-align: center;">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Recusandae consequuntur architecto eius<br/> magni nobis nulla eaque. Deserunt sunt, distinctio quos.</p>
			</div>
		</div>
		<div class="row">
			<div class="col-md-8 col-md-offset-2 col-sm-12 col-xs-12">
				<div class="panel-group" id="accordion">
				    <div class="panel panel-default mar-top-15">
				      <div class="panel-heading shadowforoutside">
				        <h4 class="panel-title">
				          <a data-toggle="collapse" data-parent="#accordion" href="#collapse1"><i class="more-less  fa fa-caret-down" style="float: right;"></i><h4 class="heading-color-blue-read">DOES YOUR APP SUPPORT DESKTOP PC?</h4></a>
				        </h4>
				      </div>
				      <div id="collapse1" class="panel-collapse collapse shadowforinside">
				        <div class="panel-body">Lorem ipsum dolor sit amet, consectetur adipisicing elit,
				        sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam,
				        quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat.</div>
				      </div>
				    </div>
				    <div class="panel panel-default">
				      <div class="panel-heading shadowforoutside">
				        <h4 class="panel-title">
				          <a data-toggle="collapse" data-parent="#accordion" href="#collapse2"><i class="more-less  fa fa-caret-down" style="float: right;"></i><h4 class="heading-color-blue-read">SPARE RIBS SHANK HAM MEATBALL SHORT LION JERRY PORK?</h4></a>
				        </h4>
				      </div>
				      <div id="collapse2" class="panel-collapse collapse shadowforinside">
				        <div class="panel-body">Lorem ipsum dolor sit amet, consectetur adipisicing elit,
				        sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam,
				        quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat.</div>
				      </div>
				    </div>
				    <div class="panel panel-default">
				      <div class="panel-heading shadowforoutside">
				        <h4 class="panel-title">
				          <a data-toggle="collapse" data-parent="#accordion" href="#collapse3"><i class="more-less  fa fa-caret-down" style="float: right;"></i><h4 class="heading-color-blue-read">AFTER LOGIN I HAVE A BLANK SCREEN. WHAT CAN I DO?</h4></a>
				        </h4>
				      </div>
				      <div id="collapse3" class="panel-collapse collapse shadowforinside">
				        <div class="panel-body">Lorem ipsum dolor sit amet, consectetur adipisicing elit,
				        sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam,
				        quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat.</div>
				      </div>
				    </div>
				    <div class="panel panel-default">
				      <div class="panel-heading shadowforoutside">
				        <h4 class="panel-title">
				          <a data-toggle="collapse" data-parent="#accordion" href="#collapse4"><i class="more-less fa fa-caret-down" style="float: right;"></i><h4 class="heading-color-blue-read">BUFFALO FLANK PIG BEEF RIBS BOUDDIN TENDERLOIN SHOULDER?</h4></a>
				        </h4>
				      </div>
				      <div id="collapse4" class="panel-collapse collapse shadowforinside">
				        <div class="panel-body">Lorem ipsum dolor sit amet, consectetur adipisicing elit,
				        sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam,
				        quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat.</div>
				      </div>
				    </div>
				  </div>
			</div>
		</div>
	</div>
</section>
<section class="AppsforSmartwatch" style="background-image: url('../../../assets/17.png');height: 650px;">
	<div class="container">
		<div class="row">
			<div class="col-md-5 col-md-offset-1 col-sm-7 col-xs-12 mar-top-200">
				<h4 class="section2-head1-2">ADAPTED FOR WATCHES</h4>
				<h3 class="text-white">Apps ready for latest <br/>Smartwatches</h3>
				<div class="vl">
				<p class="text-white mar-left-10">
          No need to open the app. Check and track straight from a smartwatch
				</p>
				</div>
				<br>
				<br>
				<label class="switch">
				  <input type="checkbox">
				  <span class="slider round"><h6 style="float: right;margin-right: 20px;">GET IN TOUCH</h6></span>
				</label>
			</div>
		</div>
	</div>
</section>
<section class="techandTips">
	<div class="container">
		<div class="row">
			<div class="col-md-12 col-sm-12 col-xs-12">
				<h4 class="section2-head1-3">BLOG</h4>
				<h2 class="text-center heading-color-blue">News, Tech and Tips</h2>
				<p class="text-center">
					We like to share what we think and what we do, keep up to date with<br/> the latest trends, the industry and our thoughts.
				</p>
			</div>
		</div>
		<div class="row">
			<div class="col-md-4 col-sm-6 col-xs-12">
				<div class="card cardForBlogs">
					<div class="blogcardheader">
					  <a href="#"><i class="fa fa-user mar-top-15"><span class="mar-left-5">Admin</span></i></a>
					  <a href="#"><i class="fa fa-calendar mar-top-15"><span class="mar-left-5">19 NOV, 19</span></i></a>
					  <a href="#"><i class="fa fa-comment mar-top-15"><span class="mar-left-5">166</span></i></a>
					</div>
					  <img src="../../../assets/img/assests/layer553.png" alt="John" style="width:100%;">
					  <p><button class="blogbutton">MOBILE</button></p>
					  <p class="title-details">How to buy a lcd tv<br/>in 3 easy steps</p>
				</div>
			</div>
			<div class="col-md-4 col-sm-6 col-xs-12 mar-top-25">
				<div class="card cardForBlogs">
					  <p><button class="blogbutton">DOWNLOAD</button></p>
					  <p class="title-details">Download free songs<br/>for your ipod</p>
					  <img src="../../../assets/img/assests/layer554.png" alt="John" style="width:100%;margin-top: 40px;">
					  <div class="blog2cardheader">
					  <a href="#"><i class="fa fa-user mar-top-15"><span class="mar-left-5">Admin</span></i></a>
					  <a href="#"><i class="fa fa-calendar mar-top-15"><span class="mar-left-5">19 NOV, 19</span></i></a>
					  <a href="#"><i class="fa fa-comment mar-top-15"><span class="mar-left-5">166</span></i></a>
					</div>
				</div>
			</div>
			<div class="col-md-4 col-sm-6 col-xs-12 mar-top-45-none">
				<div class="card cardForBlogs">
					<div class="blogcardheader">
					  <a href="#"><i class="fa fa-user mar-top-15"><span class="mar-left-5">Admin</span></i></a>
					  <a href="#"><i class="fa fa-calendar mar-top-15"><span class="mar-left-5">19 NOV, 19</span></i></a>
					  <a href="#"><i class="fa fa-comment mar-top-15"><span class="mar-left-5">166</span></i></a>
					</div>
					  <img src="../../../assets/img/assests/layer555.png" alt="John" style="width:100%;">
					  <p><button class="blogbutton">IPHONE</button></p>
					  <p class="title-details">A pocket pc is portability<br/>at it's best</p>
				</div>
			</div>
		</div>
	</div>
</section>
