<!-- ############ Main START-->
<div class="">
    <div class="p-3 light lt box-shadow-0 d-flex">
      <div class="flex">
        <h1 class="text-md mb-1 _400">Welcome back</h1>
      </div>
      <div>
        <small class="text-muted d-block">Status</small>
        <div class="mb-1 peity" data-plugin="peity" data-title="Status" data-option="
  'bar',
  {
  height: 20,
  width: 60,
  fill: [app.color.primary]
  }">56,32,21,16,25,23,42,24,6,10,44,27,34,52,54,59,61,68,78
        </div>
      </div>
    </div>

    <div class="p-4 p-md-5">
      <div class="row statistic">
        <div class="col-sm-6 col-md-2">
          <div class="box list-item">
            <span class="avatar w-40 text-center rounded primary">
              <span class="fa fa-level-up"></span>
            </span>
            <div class="list-body">
              <h4 class="m-0 text-md">
                <a href="#"> 45 <span class="text-sm"></span></a>
              </h4>
              <small class="text-muted">Request </small>
            </div>
          </div>
        </div>

        <div class="col-sm-6 col-md-2">
          <div class="box list-item">
            <span class="avatar w-40 text-center rounded primary">
              <span class="fa fa-dollar"></span>
            </span>
            <div class="list-body">
              <h4 class="m-0 text-md">
                <a href="#"><span class="text-sm"> $ </span></a>
              </h4>
              <small class="text-muted">Amount Sent</small>

            </div>
          </div>
        </div>

      </div>
    </div>
    <div class="nav-active-border b-theme px-4 px-md-5">
      <ul class="nav">
        <li class="nav-item">
          <a class="nav-link active" href="#">
            Dashboard
          </a>
        </li>

      </ul>
    </div>
  </div>
  <div class="row justify-content-md-center no-gutters white">
    <div class="col-sm-10 col-xl-10">
      <div class="padding">
        <div class="row justify-content-center mb-3 steps-container">

          <div class="col-md-3 col-xs-6 steps-link">
            <a [routerLink]="['/add-bank']" class="">

              <div class="b-a b-2x r p-3 mb-4">
                <div class="py-3 text-center text-lg text-primary steps">
                  <span>1</span>
                  <img class="w-100" src="http://iconshow.me/media/images/ui/iOS7-optimized-icon/png/256/04.bank.png">
                </div>
                <div class="d-flex">
                  <span class="text">Choose Bank</span>
                </div>


              </div>
            </a>

          </div>


          <div class="col-md-3 col-xs- steps-link">
            <a [routerLink]="['/add/bank-account']" class="">

              <div class="b-a b-2x r p-3 mb-4">
                <div class="py-3 text-center text-lg text-primary steps">
                  <span>2</span>
                  <img class="w-100"
                    src="https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcTOMbWr3WZK4BHleRF8USIm8LyZG0DiMRTqHk3fKosy17yxcbnO">
                </div>
                <div class="d-flex">
                  <span class="text">Add Bank Account</span>
                </div>
              </div>
            </a>

          </div>


          <div class="col-md-3 col-xs-6 steps-link">
            <a [routerLink]="['/make-payment/check']" class="">

              <div class="b-a b-2x r p-3 mb-4">
                <div class="py-3 text-center text-lg text-primary steps">
                  <span>3</span>
                  <img class="w-100" src="https://img5.androidappsapk.co/300/1/2/6/org.digitalsoft.checkwriter.png">
                </div>
                <div class="d-flex">
                  <span class="text">Make Payment </span>
                </div>
              </div>
            </a>

          </div>

        </div>

      </div>
    </div>

  </div>
  <!-- ############ Main END-->
